
@{
    ViewBag.Title = "AddGroup";
    Layout = "~/Views/Shared/member_Layout.cshtml";
}

<h1>Grup Ekle</h1>
<br>

<div class="row">

    <div class="col-md-3">
        <input type="text" class="form-control login-field" value="" placeholder="Grup Adı giriniz" required />
    </div>
    <div class="col-md-3"><a class="btn btn-primary btn-lg">Ekle</a></div>
    <div class="col-md-6"></div>
</div>
<br>
<div class="alert alert-success">
    <p class=" fui-alert-circle"> Tebrikler Grup Oluşturuldu.</p>
</div>
<div class="alert alert-danger">
    <p class=" fui-alert-circle"> Üzgünüm Grup Oluşturulurken bir hata oluştu.</p>
</div>

<br>
<div class="row">
    <h3>Aktif Gruplar</h3>
    <br>
    <div class="col-md-3">

        <div class="list-group">
            <span class="list-group-item active">Hayvanlar <a href=""> <img src="~/Content/images/delete-button.png" width="25" height="auto" class="pull-right" /></a>  </span>
            <span class="list-group-item">Kedi <a href=""> <img src="~/Content/images/delete-button.png" width="25" height="auto" class="pull-right" /></a></span>
            <span class="list-group-item">Köpek <a href=""> <img src="~/Content/images/delete-button.png" width="25" height="auto" class="pull-right" /></a></span>
            <span class="list-group-item">Aslan <a href=""> <img src="~/Content/images/delete-button.png" width="25" height="auto" class="pull-right" /></a></span>
            <span class="list-group-item">Fare <a href=""> <img src="~/Content/images/delete-button.png" width="25" height="auto" class="pull-right" /></a></span>
            <span class="list-group-item">Domuz <a href=""> <img src="~/Content/images/delete-button.png" width="25" height="auto" class="pull-right" /></a></span>
            <span class="list-group-item"><a href=""> <img src="~/Content/images/next_left.png" width="25" height="auto" class="pull-left" /></a><a href=""> <img src="~/Content/images/next_right.png" width="25" height="auto" class="pull-right" /></a><br></span>

        </div>

    </div>
    <div class="col-md-3">
        <div class="list-group">
            <span class="list-group-item active">Hayvanlar <a href=""> <img src="~/Content/images/delete-button.png" width="25" height="auto" class="pull-right" /></a>  </span>
            <span class="list-group-item">Kedi <a href=""> <img src="~/Content/images/delete-button.png" width="25" height="auto" class="pull-right" /></a></span>
            <span class="list-group-item">Köpek <a href=""> <img src="~/Content/images/delete-button.png" width="25" height="auto" class="pull-right" /></a></span>
            <span class="list-group-item">Aslan <a href=""> <img src="~/Content/images/delete-button.png" width="25" height="auto" class="pull-right" /></a></span>
            <span class="list-group-item">Fare <a href=""> <img src="~/Content/images/delete-button.png" width="25" height="auto" class="pull-right" /></a></span>
            <span class="list-group-item">Domuz <a href=""> <img src="~/Content/images/delete-button.png" width="25" height="auto" class="pull-right" /></a></span>
            <span class="list-group-item"><a href=""> <img src="~/Content/images/next_left.png" width="25" height="auto" class="pull-left" /></a><a href=""> <img src="~/Content/images/next_right.png" width="25" height="auto" class="pull-right" /></a><br></span>


        </div>
    </div>
    <div class="col-md-3">
        <div class="list-group"><span class="list-group-item active">Hayvanlar <a href=""> <img src="~/Content/images/delete-button.png" width="25" height="auto" class="pull-right" /></a>  </span>
            <span class="list-group-item">Kedi <a href=""> <img src="~/Content/images/delete-button.png" width="25" height="auto" class="pull-right" /></a></span>
            <span class="list-group-item">Köpek <a href=""> <img src="~/Content/images/delete-button.png" width="25" height="auto" class="pull-right" /></a></span>
            <span class="list-group-item">Aslan <a href=""> <img src="~/Content/images/delete-button.png" width="25" height="auto" class="pull-right" /></a></span>
            <span class="list-group-item">Fare <a href=""> <img src="~/Content/images/delete-button.png" width="25" height="auto" class="pull-right" /></a></span>
            <span class="list-group-item">Domuz <a href=""> <img src="~/Content/images/delete-button.png" width="25" height="auto" class="pull-right" /></a></span>
            <span class="list-group-item"><a href=""> <img src="~/Content/images/next_left.png" width="25" height="auto" class="pull-left" /></a><a href=""> <img src="~/Content/images/next_right.png" width="25" height="auto" class="pull-right" /></a><br></span>


        </div>
    </div>
    <div class="col-md-3">
        <div class="list-group">
            <span class="list-group-item active">Hayvanlar <a href=""> <img src="~/Content/images/delete-button.png" width="25" height="auto" class="pull-right" /></a>  </span>
            <span class="list-group-item">Kedi <a href=""> <img src="~/Content/images/delete-button.png" width="25" height="auto" class="pull-right" /></a></span>
            <span class="list-group-item">Köpek <a href=""> <img src="~/Content/images/delete-button.png" width="25" height="auto" class="pull-right" /></a></span>
            <span class="list-group-item">Aslan <a href=""> <img src="~/Content/images/delete-button.png" width="25" height="auto" class="pull-right" /></a></span>
            <span class="list-group-item">Fare <a href=""> <img src="~/Content/images/delete-button.png" width="25" height="auto" class="pull-right" /></a></span>
            <span class="list-group-item">Domuz <a href=""> <img src="~/Content/images/delete-button.png" width="25" height="auto" class="pull-right" /></a></span>
            <span class="list-group-item"><a href=""> <img src="~/Content/images/next_left.png" width="25" height="auto" class="pull-left" /></a><a href=""> <img src="~/Content/images/next_right.png" width="25" height="auto" class="pull-right" /></a><br></span>

        </div>
    </div>



</div>


