@model List<WorldWordBox.Models.Group>
@{
    ViewBag.Title = "AddWord";
    Layout = "~/Views/Shared/member_Layout.cshtml";
}




@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
{
    @Html.AntiForgeryToken()
}

@{
    IEnumerable<WorldWordBox.Models.Group> groups = ViewData["userGroups"] as IEnumerable<WorldWordBox.Models.Group>;
}

        meyaba @ViewData["mail"] abi


<h1>Kelime Ekle</h1>
<br>

<div class="row">
    
    <form action="#">


 

        <div class="col-md-2">
            <input type="word" class="form-control login-field" value="" id="word" placeholder="Kelimeyi Gir" required />
        </div>
        <div class="col-md-1"><img src="~/Content/images/shuffle.png" width="40" height="auto"></div>
        <div class="col-md-2">
            <input type="text" id="wordTr" class="form-control login-field" value="" placeholder="" required />
        </div>
        <div class="col-md-4">
            <select class="form-control select select-primary" data-toggle="select">
               
                    <div class="col-md-3">
                        <div class="list-group">
                            @foreach (var g in groups)
                            {
                                <option class="option" value="@g.Id">@g.Name</option>
                            }
                        </div>
                    </div>
               
            </select>
        </div>

        <div class="col-md-2">
            <a id="addWord" class="btn btn-block btn-primary btn-lg" id="addWord">Ekle</a>
        </div>
    </form>

</div>
<br>
<div class="alert alert-success">
    <p class=" fui-alert-circle">  Tebrikler Kelime Eklendi.</p>
</div>
<div class="alert alert-danger">
    <p class=" fui-alert-circle">  Üzgünüm Kelime Eklenirken bir hata oluştu.</p>
</div>










<script>
    $(function () {

        var count = 0;
        $("#word").keyup(function () {
            //daha önceden tuş basılıp bitmediyse temizliyoruz
            clearInterval(timerId);


            var timerId = setInterval(function () {
                count++;

                if (count == 2)
                {
                    var form = $('#__AjaxAntiForgeryForm');
                    var token = $('input[name="__RequestVerificationToken"]', form).val();

                    var data = { "word": $("#word").val(), "language": "tr-en", "format": "html", "__RequestVerificationToken": token };

                        $.post("/Member/Translate", data, function (result) {

                            var jsonData = jQuery.parseJSON(result);
                            $("#wordTr").val(jsonData.text);

                        });
                    count = 0;
                    clearInterval(timerId);
                }

            }, 1000);

        });








        $("#addWord").click(function () {
            var form = $('#__AjaxAntiForgeryForm');
            var token = $('input[name="__RequestVerificationToken"]', form).val();

            var groupId = 30; //TODO: get selected group
            var word = $('#word').val();
            var wordTr = $('#wordTr').val();
            
            var data = { "groupId": groupId, "word": word, "wordTr": wordTr, "__RequestVerificationToken": token };

            $.post("/Member/AddWord", data, function (result) {
                if (result == 0) {
                    alert("eklendi");
                } else if (result == 1) {
                    alert("Bilinmeyen hata");
                } else if (result == 2) {
                    alert("Bu kelimeyi zaten eklemişsiniz");
                }
            });
        });


        $('.list-group option').click(function () {

            alert("aa");
        });
        


    });

</script>

