.c1
{
background: url(../images/bg.jpg) no-repeat center center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}
.imgop
{
	opacity: 0.5;
    filter: alpha(opacity=50);
}

.he2
{
	color: white;
}