
@{
    ViewBag.Title = "Index";
   // Layout = "~/Views/Shared/_Layout.cshtml";
}






<h2>Index</h2>
hahahahah


@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")


<script>
    $(function () {
        var userName = "husrev";
        var password = "123";
        var mail = "husrev.beyazisik@gmail.com";

        var data = {"userName":userName,"password":password,"mail":mail};
        $.post("/Index/Register", data, function () {
            alert("kaydoldu");
        });
        

    });

</script>