
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/member_Layout.cshtml";
}

      <h1>Kelime Ekle</h1>
<br>

<div class="row">

    <div class="col-md-2">
        <input type="text" class="form-control login-field" value="" placeholder="Kelimeyi Gir" required />
    </div>
    <div class="col-md-1"><img src="~/Content/images/shuffle.png" width="40" height="auto"></div>
    <div class="col-md-2">
        <input type="text" class="form-control login-field" value="" placeholder="" required />
    </div>
    <div class="col-md-4">
        <select class="form-control select select-primary" data-toggle="select">
            <option value="0">Grup Seç</option>
            <option value="1">Ofis Eşyaları</option>
            <option value="2">Hayvanlar</option>
            <option value="3">Meyveler</option>
            <option value="4">Karışık</option>
            <option value="5">Yeni öğrendiklerim</option>
        </select>
    </div>

    <div class="col-md-2">
        <a class="btn btn-block btn-primary btn-lg">Ekle</a>
    </div>



</div>
<br>
<div class="alert alert-success">
    <p class=" fui-alert-circle">  Tebrikler Kelime Eklendi.</p>
</div>
<div class="alert alert-danger">
    <p class=" fui-alert-circle">  Üzgünüm Kelime Eklenirken bir hata oluştu.</p>
</div>